 /*  NOMI PARLANTI PER CLASSI CSS   */
/* vista-tag-funzione */
/* e inserire le classi nella giusta sezione in css */
/* body, navbar, footer etc */

/*  */

/* Color */

:root{                      
    --main-color-yellow1: #ffc107;
    --main-color-yellow2: #FFED4A;
    --main-color-yellow3: #ffe17e;
    --main-color-soft: #FEF9E8;
    --main-color-medium: #9A9165;
    --main-color-dark: #1C1018;
}


/* BODY */

body{
    background-color: var(--main-color-soft)
}

/* Font Default */

*{
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
}

/* style ul e hover links */
ul{
    list-style: none;
}

a:hover{
    color: var(--main-color-yellow2);
}

/*generic height */

.vh-60{
    height: 60vh;
    
    
}

.vh-80{
    height: 80vh;
}

/* alert messages */

/* .alert{
    color: var(--main-color-yellow2);
    background-color: black;
    width: 40vw;
    height: 6vh;
    padding: 2vh;
} */





/* Navbar */

.textNav{
    color: aliceblue;
}

.textNav:hover{
    color: var(--main-color-yellow1);
    font-weight: bold;   
}

.img-logo-nav{ 
    height: 3vh;
}

/* Navbar 1 */

.nav1{
    z-index: 989;
    /* background-color:  var(--main-color-dark); */
    background-color: black;
    height: 8vh;
    position: sticky;
    top:0px;
    border-left: 5px solid #fcea1a;
    border-right: 5px solid #fcea1a;
    border-top: 5px solid #fcea1a;
    border-bottom: 5px solid #fcea1a;
}

.dropdown-user{
    text-decoration: none!important;

}

.dropdown-menu{
    background-color: var(--main-color-dark);
    border: solid 1px white;
    z-index: 999;
    position: relative;
    /* position: absolute; */
}

.navbar-div-logo-dinamico{
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70%;
}

.navbar-logo-dinamico{
    opacity: 0;
    transition: all 0.3s;
}

.custom-opacity{
    opacity: 1;
}
/* tolta? */
/* .nav-reg{
    position: absolute;
    right: 2%;
} */
.nav-log{
    position: absolute;
    right: 5vw;
}



.navbar-toggler {
    /* padding: 1vh;
    font-size: 3vh; */
    line-height: 1 var(--main-color-yellow2);
    color: var(--main-color-yellow2);
    background-color: transparent;
}


/* Navbar2 */

.nav2{
    /* background-color: var(--main-color-dark); */
    background-color: black;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top: 1px solid rgb(234, 239, 231); */
    border-left: 5px solid #fcea1a;
    border-right: 5px solid #fcea1a;
    
    border-bottom: 5px solid #fcea1a;

    /* background: linear-gradient(105deg, var(--main-color-yellow2) 6%,var(--main-color-dark) 6%); */
}

.logo-nav2{
    height: 10vh;
}

/* Navbar3 */

.nav3{
   /* background-color:  var(--main-color-dark); */
   background-color: black;
   /* position: -webkit-sticky; */
   /* border-top: 1px solid rgb(234, 239, 231); */
   height: 6vh;
   position: sticky;
   top:8vh;
   z-index: 899;
   border-left: 5px solid #fcea1a;
   border-right: 5px solid #fcea1a;
   border-bottom: 5px solid #fcea1a;
}

.list-nav3{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
/* font nav 3 */

.article-category-nav{
    color: aliceblue;
    display: inline-block;
}
.article-category-nav:first-letter {
    text-transform: uppercase;
}
/* media query per nascondere nav3 */
@media screen and (max-width: 992px) {
    .nav3 {
        display: none;
    }
  }



/* --- HOME --- */


/* searchbar */
.dropdown-searchbar{
    z-index: 999;
    position: relative;
}
/* sticky searchbar */

/* .sticky-search{
    position: sticky;
    top: 14vh;
    z-index: 999;
} */


/* media query per nascondere bottone searchbar, ma non funziona */
  @media screen and (min-width: 800px) {
     .hide-search {
      display: none !important;
    }
  }








/* article borders*/
.articles-border{
    background-color: var(--main-color-soft);
    border-left: solid 2px lightgray;
    border-right: solid 2px lightgray;
   
}
/* dotted o solid, cambiare colore? */
.border-row-right-article{
    border-top: dotted 2px lightgray;
    border-bottom: dotted 2px lightgray;
    /* margin-top: 2px; */
}
.border-row-left-article{
    border-top: dotted 2px lightgray;
    border-bottom: dotted 2px lightgray;
}

/* .hr-article{

    width:80%;
    margin: auto;
} */

/* Fonts delle Card (e della vista show)*/

.article-description{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 300;
    display:inline-block;
}
.article-description:first-letter {
    text-transform: uppercase;
}

.article-title{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.article-author{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #1C1018;
}


.article-body{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 250;
    display:inline-block;
}
.article-body:first-letter {
    text-transform: uppercase;
}


.article-category{
    color: var(--main-color-yellow3);
    margin-right: 1rem;
    display:inline-block;
}
.article-category:first-letter {
    text-transform: uppercase;
}

.article-tag{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.article-error{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 300;
    
}






.div-img-card{
    /* CAMBIARE DIMENSIONE IMMAGINI DA FARE RESPONSIVE */
    /* width: 30%;*/
    height: 50%;
    padding: 18px;
    margin:10px;
    background: linear-gradient(105deg, var(--main-color-yellow2) 35%,rgba(0,0,0,0) 35%);
}

.div-img-card-right{
    /* width: 30%; */
    height: 50%;
    padding: 18px;
    margin:10px;
    background: linear-gradient(614deg, var(--main-color-yellow2)  35%,rgba(0,0,0,0) 35%);
}




/* bottoni */
.btn{
    text-transform: uppercase;
    font-size: 12px;
    /* font-weight: bold; */
    background-color: var(--main-color-dark);
    /* border: black solid 1px; */
    color: white;
}

.btn:hover{
    border: black solid 1px;
    color: black;
}

.btn-delete{
    text-transform: uppercase;
    font-size: 12px;
    /* font-weight: bold; */
    background-color: rgb(160, 1, 1);
    /* border: black solid 1px; */
    color: white;
}

.btn-delete:hover{
    border:  rgb(160, 1, 1) solid 1px;
    color: black;
}

.btn-save{
    text-transform: uppercase;
    font-size: 12px;
    /* font-weight: bold; */
    background-color:green;
    /* border: black solid 1px; */
    color: white;
}

.btn-save:hover{
    border:  green solid 1px;
    color: black;
}






/* Pagina Show */

.div-img-show{
    /* width: 70%; */
    /* height: 90%; */
    /* padding: 18px; */
    height: 50vh;
    margin:10px;
    /* background: linear-gradient(614deg, #ffc107  35%,rgba(0,0,0,0) 35%); */
    background: linear-gradient(105deg, var(--main-color-yellow2) 35%,rgba(0,0,0,0) 35%);
    /* border: 3px solid  lightgray; */
}

.img-show{
    object-fit: contain;
    /* border: 2px dotted lightgray; */
}

.article-category-title{
    color: #1C1018;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
}
.article-category-title:first-letter {
    text-transform: uppercase;
}

.article-category-show{
    color: #1C1018;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-decoration: none;
}
/* .border-show{
    border: solid 3px black;
    width: 30%;
} */




/* Register and Login */

.border-auth{
    box-shadow: #1C1018 2px;
    background-color: var(--main-color-yellow3);
    padding: 5%;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
    color: rgb(97, 96, 96);
    background-image: url(/public/media/yellowBG.jpg);
    border-radius: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}



.p-auth{
    font-size: 12px;
    text-align: end;
    color: #99a9bc;
    
}
.ancor-auth{
    color: rgb(211, 78, 78);
}
.ancor-auth:hover{
    color: black;
}


input,
input::placeholder {
    font: 12px/3 sans-serif;
    font-style: oblique;
}





/* CAROSELLO */

/* .carosello-row{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-image: url(/media/VIRGOLETTE.png);
} */

.img-carosello{
    /* width: 50vw; */
    height: 60vh;
    object-fit: contain;
}

.carosello-hover{
    text-decoration: none;
    color: white;
}
.carosello-hover:hover{
    
    color: var(--main-color-yellow1);
}

/* icona carosello, volendo si può cambiare con una background img */
.carousel-control-next-icon{
    /* BOTTONCINO */
    background-color: var(--main-color-dark);
    border-radius: 20%;
    height: 5vh;
    width: 6vw;
    /* FRECCIA */
    /* background-image: none;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); */
    /* IMMAGINE */
    /* background-image: url(/public/media/VIRGOLETTE.png); */
}
/* oppure si può disegnare con css (si possono fare anche le doppie frecce o un triangolo)  */
.carousel-control-prev-icon{
    /* FRECCIA */
    /* background-image: none;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); */
    /* BOTTONCINO */
    background-color: #000000;
     border-radius: 20%;
    height: 5vh;
    width: 6vw;
}

.carousel, .carousel-indicators, .carousel-inner, .carousel-item, .carousel-control-prev, .carousel-control- {
    /* position: relative; */
    z-index: 1 !important;
}
   
/* .virgolette-gialle{
    
    height: 10vh;
    z-index: 999;
    
}

.div-virgolette-gialle{
    position:absolute;
    left: 68vw;
    top:-3vh;
    height: 10vh;
    width: 7vh;
    z-index: 999;
} */



/* FOOTER */

/* .bg-footer{
    color: var(--main-color2);
} */

/* .container-footer{
    background-color: black;
} */

.footer{
    border-left: 5px solid #fcea1a;
    border-right: 5px solid #fcea1a;
    border-top: 5px solid #fcea1a;
    border-bottom: 5px solid #fcea1a;
}

.footer-list{
    background-color: black;
    text-decoration: none;
    color: white;
    border-bottom: solid 1px rgb(93, 93, 93);
}

.footer-list-title{
    color: var(--main-color-yellow2);
    padding-bottom: 20px;
    border-bottom: solid 3px var(--main-color-yellow2);
}

.footer-icon{
    text-decoration: none;
    color: white;
    margin-top: 2vh;
    font-size: 5vh;
}

.footer-list-category{
    text-decoration: none;
    color: white;
    border-bottom: solid 1px rgb(93, 93, 93);
    margin-left: 5vw;
    /* list-style: circle; */

}





/* pagina inserimento articolo */
/* momentanea */
.altezzaFormCreate {
    height: 1000px;
}

/* .text-container{
    word-wrap: break-word;
} */

/* FOOTER */




/* MEDIA QUERY */


@media screen and (max-width: 550px) {
    .container-revisore{
      
        text-align: center;
    }
}
    
